<ion-content [fullscreen]="true">
  <div class="center-wrapper">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ajouter un contrôle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="form-list">
          <ion-input label-placement="floating" fill="outline" name="agent-name">
            <div slot="label" class="ion-input-label-text">Nom de l'agent</div>
          </ion-input>
          <ion-input label-placement="floating" fill="outline" name="site-name">
            <div slot="label" class="ion-input-label-text">Nom du site</div>
          </ion-input>

        <ion-list *ngFor="let segment of segmentList" class="segmentList">
          <div class="segmentItem">
            <ion-label>{{segment.name}}</ion-label>
            <ion-segment value="false">
                <ion-segment-button value="true">Oui</ion-segment-button>
                <ion-segment-button value="false">Non</ion-segment-button>
            </ion-segment>
          </div>
        </ion-list>

        <ion-textarea label-placement="floating" fill="outline">
          <div slot="label" class="ion-input-label-text">Observation</div>
        </ion-textarea>


      </ion-list>
      <ion-button slot="end">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Créer l'entrée</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Historique des contrôles</ion-card-title>
      </ion-card-header>
      <ion-card-content>TEST 5</ion-card-content>
    </ion-card>
  </div>
</ion-content>
