ion-card-title{
  font-size: 14px;
  font-weight: 600;
}

.center-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10vh;

  height: 100vh;
  }

ion-card{
  width: 70%;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.form-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.date-container{
  background: #171717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  border: 1px solid #4b4e55;
  border-radius: 8px;

  min-height: 58px;
  letter-spacing: 0.3px;

  padding: 10px;
  gap: 4px;

  flex: 1 1 150px;
}
.date-label{
  text-transform: uppercase;
  color: #5F6B77;

  font-size: 12px;
  font-weight: 600;
}

ion-datetime-button::part(native){
  background: transparent;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}




ion-input{
  flex: 1 1 200px;
}
ion-textarea{
  flex: 1 1 100%;
}

ion-input, ion-textarea{
  --background: #171717;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 600;

  --color: white;
  --placeholder-color: #999;
}

.ion-input-label-text{
  text-transform: uppercase;
  color: #5F6B77;
}





.segmentList{
  flex: 1 1 150px;
}

.segmentItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  text-transform: uppercase;
  color: #5F6B77;
  font-size: 12px;
  font-weight: 600;
}

ion-segment{
  --background: #171717;
  border: 1px solid #4b4e55;
  border-radius: 8px;
  padding: 6px;
}

ion-segment-button{
  --background-hover: transparent;
  --color-hover: white;
  --border-radius: 10px;

  min-height: 34px;

  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.3px;
}
//L'indicateur sur le segment
ion-segment-button::part(indicator){
  height: 100%;
}
//Le background de l'indicateur il gere (background;border etc)
ion-segment-button::part(indicator-background){
  height: 100%;
  border-radius: 8px;
}

ion-segment-button[value="true"]::part(indicator-background){
  background: rgb(0 255 0 / 0.12);
}
ion-segment-button[value="false"]::part(indicator-background){
  background: rgb(255 0 0 / 0.12);
}
ion-segment-button[value="true"]{
  --color-checked: #00ff00;
}
ion-segment-button[value="false"]{
  --color-checked: red;
}

ion-button {
  margin-top: 6%;
  ion-label{
    font-weight: 600;
    margin-left: 4px;
  }
}

.control-history-card{
  max-height: 300px;
  overflow-x: auto;
}

ion-grid{
  width: max-content;
  min-width: 100%;

  border: 1px solid #4b4e55;
  background: #171717;
  border-radius: 8px;
}

.mainElements-row{
  border-bottom: 1px solid #4b4e55;
  padding: 6px 0 9px 0;
  text-transform: uppercase;
}

.elements-row{
  padding: 6px 0 6px 0;
  border-bottom: 1px solid #4b4e55;
}

.elements-row:last-child{
  border-bottom: none;
}

.agentName-col{
  color: white;
}

.segmentValue-col{
  display: flex;
  align-items: center;
  gap: 4px;

  //justify-content: center;
}

ion-row{
  flex-wrap: nowrap;
  min-width: 100%;
  align-items: center;
}

ion-col{
  color: #5F6B77;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.3px;
  flex: 0 0 auto;
  width: 150px;
}

.segmentListGrid{
  display: flex;
}
