<ion-content [fullscreen]="true">
  <div class="center-wrapper">
    <ion-card class="control-history-card">
      <ion-card-header>
        <ion-card-title>Historique des contrôles</ion-card-title>
        <ion-card-subtitle>{{ numberOfIC }} entrées</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <app-internal-controls-view></app-internal-controls-view>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
