ion-card-title{
  font-size: 14px;
  font-weight: 600;
}


.center-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  }

ion-card{
  width: 70%;
  border-radius: 10px;
}

.form-list{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

ion-input{
  font-size: 12px;
  letter-spacing: 1.6px;
  font-weight: 600;

  --color: white;
  --placeholder-color: #999;
  width: 50%;

 flex: 1 1 300px;
}

.ion-input-label-text{
  text-transform: uppercase;
  color: #5F6B77;
}

.segmentList{
  flex: 1 1 300px;
}

.segmentItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  text-transform: uppercase;
  color: #5F6B77;
  font-size: 12px;
  font-weight: 600;
}

ion-segment-button{
  --background-hover: transparent;
  --color-hover: white;
}
ion-segment-button[value="true"]{
  --color-checked: green;
}
ion-segment-button[value="false"]{
  --color-checked: red;
}

ion-button {

  margin-top: 6%;
  ion-label{
    font-weight: 600;
    margin-left: 4px;
  }
}
