<form #internalcontrolForm="ngForm">
  <ion-list class="form-list">
    <div class="date-container">
      <ion-label class="date-label">Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime name="entryDate" presentation="date" id="datetime" [(ngModel)]="internalControlEntry.entryDate">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <div class="warning-container" id="input">
      <ion-input label-placement="floating" fill="outline" name="agent-name"
                 [(ngModel)]="internalControlEntry.agentName" [required]="true" (ionBlur)="inputBlur($event)">
        <div slot="label" class="ion-input-label-text">Nom de l'agent *</div>
      </ion-input>
      <ion-label *ngIf="inputIsTouched('agent-name') && internalControlEntry.agentName.length === 0">Ce champ
        est obligatoire.
      </ion-label>
    </div>
    <div class="warning-container" id="input">
      <ion-input label-placement="floating" fill="outline" name="domain-name"
                 [(ngModel)]="internalControlEntry.domainName" [required]="true" (ionBlur)="inputBlur($event)">
        <div slot="label" class="ion-input-label-text">Nom du site *</div>
      </ion-input>
      <ion-label *ngIf="inputIsTouched('domain-name') && internalControlEntry.domainName.length === 0">Ce champ
        est obligatoire.
      </ion-label>
    </div>
    <ion-list *ngFor="let segment of internalControlEntry.booleans" class="segmentList">
      <div class="segmentItem">
        <ion-label class="displayName-segment">{{ segment.displayName }}</ion-label>
        <div class="warning-container" *ngIf="segment.name === 'professionalcard' && getSegment('professionalcard')?.value === true">
          <ion-input name="professionalCardNumber" label-placement="floating" label="Numéro de la carte*"
                     fill="outline" placeholder="CAR-075-2029-12-31-20240123456" (ionInput)="onProfessionalCardInput($event)"
                     (ionBlur)="inputBlur($event)" [(ngModel)]="internalControlEntry.professionalCardNumber" [counter]="true" [maxlength]="30" [required]="true"></ion-input>
          <ion-label *ngIf="inputIsTouched('professionalCardNumber') && internalControlEntry.professionalCardNumber.length === 0">Ce champ
            est obligatoire.
          </ion-label>
        </div>
        <ion-segment [value]="JSON.stringify(segment.value)" (ionChange)="segmentChange($event, segment.id)">
          <ion-segment-button value="true">Oui</ion-segment-button>
          <ion-segment-button value="false">Non</ion-segment-button>
        </ion-segment>
      </div>
    </ion-list>
    <div class="warning-container" id="textarea">
      <ion-textarea [rows]="6" label-placement="floating" fill="outline" [(ngModel)]="internalControlEntry.comment"
                    name="comment" (ionBlur)="inputBlur($event)" [required]="true">
        <div slot="label" class="ion-input-label-text">Observation *</div>
      </ion-textarea>
      <ion-label *ngIf="inputIsTouched('comment') && internalControlEntry.comment.length === 0">Ce champ est
        obligatoire.
      </ion-label>
    </div>
  </ion-list>
</form>
<ion-button slot="end" [disabled]="!internalcontrolForm.valid"
            (click)="addInternalControl(internalcontrolForm)">
  <ion-icon name="add-outline"></ion-icon>
  <ion-label>Créer l'entrée</ion-label>
</ion-button>
