<form #internalcontrolForm="ngForm">
  <ion-list class="form-list">
    <div class="date-container">
      <ion-label class="text-label">Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </div>

    <ion-input label-placement="floating" label="Nom de l'agent *" fill="outline" name="agent-name"
               [(ngModel)]="internalControlEntry.agentName" [required]="true" (ionBlur)="inputBlur($event)"
               errorText="Ce champ est obligatoire.">
    </ion-input>

    <ion-input label-placement="floating" label="Nom du site *" fill="outline" name="domain-name"
               [(ngModel)]="internalControlEntry.domainName" [required]="true" (ionBlur)="inputBlur($event)"
               errorText="Ce champ est obligatoire.">
    </ion-input>

    <ion-list *ngFor="let segment of internalControlEntry.booleans" class="segmentList">
      <div class="segmentItem">
        <ion-label class="text-label">{{ segment.displayName }}</ion-label>
        <ion-segment [value]="JSON.stringify(segment.value)" (ionChange)="segmentChange($event, segment.id)">
          <ion-segment-button value="true">Oui</ion-segment-button>
          <ion-segment-button value="false">Non</ion-segment-button>
        </ion-segment>
      </div>
    </ion-list>

    <ion-input *ngIf="getSegment('professionalcard')?.value === true" name="professionalCardNumber"
               label-placement="floating" label="Numéro de la carte*"
               fill="outline" placeholder="CAR-075-2029-12-31-20240123456"
               (ionInput)="onProfessionalCardInput($event)"
               (ionBlur)="inputBlur($event)" [(ngModel)]="internalControlEntry.professionalCardNumber"
               [counter]="true" [maxlength]="30" [required]="true" errorText="Le numéro doit comporter 30 caractères."></ion-input>

    <ion-textarea [rows]="5" [autoGrow]="true" label-placement="floating" label="Observation *" fill="outline"
                  [(ngModel)]="internalControlEntry.comment"
                  name="comment" (ionBlur)="inputBlur($event)" [required]="true" errorText="Ce champ est obligatoire.">
    </ion-textarea>
  </ion-list>

  <footer class="form-actions">
    <ion-button type="submit" class="submit-button" slot="end"
                [disabled]="!(internalcontrolForm.valid && (professionalCardNumberLengthIsCorrect()))"
                (click)="saveInternalControl(internalcontrolForm)">
      <ion-icon slot="start" [name]="isEdit ? 'checkmark-outline' : 'add-outline'"></ion-icon>
      <ion-label>{{ isEdit ? "Enregister les modifications" : "Créer l'entrée" }}</ion-label>
    </ion-button>
  </footer>
</form>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetime" (ionChange)="dateChange($event)" [showDefaultButtons]="true"
                  [value]="internalControlEntry.entryDate">
    </ion-datetime>
  </ng-template>
</ion-modal>
