//List
.form-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px; //ESPACE ENTRE ITEMS
  padding: 16px;
  background-color: var(--app-color-card-background);
}

//Date Container
.date-container {
  background: var(--app-color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid var(--app-color-border);
  border-radius: 8px;
  min-height: 58px;
  padding: 10px;
  gap: 4px;

  flex: 1 1 100px;
}

ion-datetime-button::part(native) {
  background: transparent;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}

#input {
  flex: 1 1 200px;
}

#textarea {
  flex: 1 1 100%;
}

ion-input, ion-textarea {
  font-size: 12px;
  color: var(--app-color-text);
  --background: var(--app-color-secondary);
  --placeholder-color: var(--app-color-border);
}

//SEGMENT PART
.segmentList {
  flex: 1 1 150px;
  background: transparent;
}
.segmentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
ion-segment {
  --background: var(--app-color-secondary);
  border: 1px solid var(--app-color-border);
  border-radius: 8px;
  padding: 6px;
}
ion-segment-button {
  --background-hover: transparent;
  --color-hover: var(--app-color-primary-hover);

  min-height: 34px;

  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.3px;
}
//L'indicateur sur le segment
ion-segment-button::part(indicator) {
  height: 100%;
}
//Le background de l'indicateur il gere (background;border etc)
ion-segment-button::part(indicator-background) {
  height: 100%;
  border-radius: 8px;
}

//SEGMENT BUTTON VALUE
ion-segment-button[value="true"]::part(indicator-background) {
  background: rgb(0 255 0 / 0.12);
}
ion-segment-button[value="false"]::part(indicator-background) {
  background: rgb(255 0 0 / 0.12);
}
ion-segment-button[value="true"] {
  --color-checked: var(--app-color-success);
}
ion-segment-button[value="false"] {
  --color-checked: var(--app-color-danger);
}


// BOUTON SUBMIT
.submit-button {
  font-size: 15px;
  font-weight: 500;
  height: 48px;

  margin: 1%;

  --background: var(--app-color-primary);
  --background-color: var(--app-color-primary-hover);
  --border-radius: 10px;
}
.submit-button[disabled] {
  --opacity: 0.45;
}

//TITLE STYLE
.text-label {
  text-transform: uppercase;
  color: var(--app-color-primary);
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
