<form #internalcontrolForm="ngForm" class="ic-form">
  <section>
    <h2 class="section-title">Contexte de contrôle</h2>
    <div class="date-container">
      <span class="text-label">Date</span>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </div>

    <ion-input label-placement="floating" label="Nom de l'agent *" fill="outline" name="agent-name"
               [(ngModel)]="internalControlEntry.agentName" [required]="true" (ionBlur)="inputBlur($event)"
               errorText="Ce champ est obligatoire." [minlength]="2" [maxlength]="100" [counter]="true" class="app-input">
      <ion-icon class="app-input-icon" slot="start" name="person-outline"></ion-icon>
    </ion-input>

    <ion-input label-placement="floating" label="Nom du site *" fill="outline" name="domain-name"
               [(ngModel)]="internalControlEntry.domainName" [required]="true" (ionBlur)="inputBlur($event)"
               errorText="Ce champ est obligatoire." [minlength]="2" [maxlength]="100" [counter]="true" class="app-input">
      <ion-icon class="app-input-icon" slot="start" name="business-outline"></ion-icon>
    </ion-input>
  </section>

    <section class="segmentList">
      <h2 class="section-title">Points de contrôle</h2>
      <div class="segmentItem" *ngFor="let segment of internalControlEntry.booleans">
        <span class="text-label">{{ segment.displayName }}</span>
        <ion-segment [value]="JSON.stringify(segment.value)" (ionChange)="segmentChange($event, segment.id)">
          <ion-segment-button value="true">Oui</ion-segment-button>
          <ion-segment-button value="false">Non</ion-segment-button>
        </ion-segment>
      </div>

    <ion-input class="app-input" *ngIf="getSegment('professionalcard')?.value === true" name="professionalCardNumber"
               label-placement="floating" label="Numéro de la carte*"
               fill="outline" placeholder="2026-0087681-CAR-SH-0997931"
               (ionInput)="onProfessionalCardInput($event)"
               (ionBlur)="inputBlur($event)" [(ngModel)]="internalControlEntry.professionalCardNumber"
               [counter]="true" [minlength]="27" [maxlength]="27" [required]="true" errorText="Le numéro doit comporter 27 caractères.">
      <ion-icon class="app-input-icon" slot="start" name="card-outline"></ion-icon>
    </ion-input>
    </section>

    <section>
      <h2 class="section-title">Observation</h2>
      <ion-textarea class="app-textarea" [rows]="5" [maxlength]="200" [counter]="true" [autoGrow]="true" label-placement="floating" label="Observation *" fill="outline"
                    [(ngModel)]="internalControlEntry.comment"
                    name="comment" (ionBlur)="inputBlur($event)" [required]="true" errorText="Ce champ est obligatoire.">
      </ion-textarea>
    </section>

  <footer class="form-actions">
    <ion-button type="submit" class="submit-button" slot="end"
                [disabled]="!internalcontrolForm.valid"
                (click)="saveInternalControl(internalcontrolForm)">
      <ion-icon slot="start" [name]="isEdit ? 'checkmark-outline' : 'add-outline'"></ion-icon>
      <span>{{ isEdit ? "Enregistrer les modifications" : "Créer l'entrée" }}</span>
    </ion-button>
  </footer>
</form>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetime" (ionChange)="dateChange($event)" [showDefaultButtons]="true"
                  [value]="internalControlEntry.entryDate">
    </ion-datetime>
  </ng-template>
</ion-modal>
