.color-success {
  color: var(--app-color-success);
}

.color-danger {
  color: var(--app-color-danger);
}

ion-grid {
  width: max-content;
  min-width: 100%;

  border: 1px solid var(--app-color-border);
  background: var(--app-color-secondary);
  border-radius: 8px;
}

//EN-TETE
.mainElements-row {
  background: var(--app-color-card-background);
  border-bottom: 1px solid var(--app-color-border);
  color: var(--app-color-primary);
  padding: 6px 0 9px 0;

  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.6px;
  font-weight: 600;

  position: sticky;
  top: 0;
}

//ELEMENTS
.elements-row {
  padding: 6px 0 6px 0;
  border-bottom: 1px solid var(--app-color-border);

  font-weight: 400;
  font-size: 11px;
}

.elements-row:hover {
  background: rgb(15 47 96 / 0.07)
}

.elements-row:last-child {
  border-bottom: none;
}

//COLONNE AGENT

.agentName-col {
  color: var(--app-color-primary);
  font-weight: 600;
}

//COLONNE SEGMENT VALUE

.segmentValue-col {
  display: flex;
  align-items: center;
  gap: 4px;
}

//LIGNES

ion-row {
  flex-wrap: nowrap;
  min-width: 100%;
  align-items: center;
}

//COLONNES

ion-col {
  flex: 0 0 auto;
  width: 150px;
}

.segmentListGrid {
  display: flex;
}
